@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600&family=Oswald&family=Poppins:wght@200;300;400&display=swap');
$font: "Montserrat", "Oswald", "Poppins", "Helvetica", Verdana, Arial;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // overflow-y: hidden;
    // overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

header {
    height: 100vh;
    background-image: url(../IMG/PROVEDOR-AZUL.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 25px;

        .logo {
            img {
                cursor: pointer;
            }
        }

        .menu a {
            text-decoration: none;
            font-family: $font;
            color: white;
            font-size: 12px;
            margin: 2px 10px 2px 10px;
        }
    
        #btn {
            padding: 10px;
            margin: 5px;
            background-color: #8c5c03;
            border-radius: 8px;
            transition: 0.5s;
            &:hover {
                background-color: #926106;
            }
        }
    }
}

span {
    color: orange;
    text-transform: uppercase;
}

#pri {
        position: relative;
        top: -355px;
        left: 5px;
        font-size: 25px;
        font-family: $font;
        color: white;
        text-align: center;
        height: 0px;
        width: 100%;
}

#plano {
        position: relative;
        top: -200px;
        left: -0px;
        font-family: $font;
        text-align: center;
        background-color: #c18922;
        width: 305px;
        border-radius: 50px;
        font-weight: 600;
        font-size: 20px;
        padding: 25px 15px 25px 15px;
        color: white;
        margin: auto;
        cursor: pointer;
        transition: 0.5s;
        h3 {
            a {
                text-decoration: none;
                color: white;
            }
        }
        &:hover {
            transform: translateY(-5px);
            background-color: #fcb655;
        }
}

.container {
    height: 100vh;
    background-color: #242424;
    margin-top: -80px;
    #empresa {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        padding-top: 35px;
    
        #imagem img {
            width: 550px;
            border-radius: 100%;
        }

        #texto {
            h1 {
                color: orange;
            }
            font-family: $font;
            width: 500px;
            margin-left: -155px;
            text-align: left;
            color: white;
        }
    }
}

.container-2 {
    height: 100vh;
    margin: auto;
    color: white;
    user-select: none;
    background-color: #191919;
    #servicos {
        font-family: $font;
        text-align: center;
        padding: 50px;
        h1 {
            font-size: 55px;
            color: orange;
        }
        h3 {
            width: 450px;
            margin: auto;
            padding: 15px;
        }
    }

    .sub-servicos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        align-items: center;
        font-family: $font;

        .mais {
            max-width: 355px;
            text-align: center;
            padding: 25px 0px 0px 0px;
            img {
                margin-bottom: 15px;
            }
            h2 {
                color: rgb(14, 101, 159);
                font-size: 1rem;
                margin-bottom: 5px;
            }
            h3 {
                font-size: 0.9rem;
            }
        }
    }
}

.container-3 {
    background-color: #202020;
    height: 100vh;
    #text {
        text-align: center;
        font-family: $font;
        padding-top: 20px;
        h1 {
            color: orange;
            font-size: 55px;
        }
        h3 {
            color: white;
            font-size: 15px;
        }
    }

    #cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        #card {
            border-radius: 8px;
            user-select: none;
            background-color: #242424;
            color: white;
            font-family: $font;
            width: 350px;
            margin-top: 25px;
            border-bottom: 5px solid rgb(5, 8, 239);
            h1 {
                background-color: blue;
                border-radius: 8px 8px 0px 0px;
                text-align: center;
                padding: 20px 55px 20px 55px;
            }

            ul {
                padding-left: 25px;
            }

            .list ul li {
                list-style: none;
                padding: 15px 0px 15px 0px;
            }

            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    margin-right: 8px;
                }
            }
            .link {
                background-color: orange;
                padding: 15px 5px 15px 5px;
                text-align: center;
                width: 150px;
                border-radius: 50px;
                margin-bottom: 15px;
                margin-left: 95px;
                a {
                    text-decoration: none;
                    color: white;
                    text-align: center;
                }
            }
        }
    }
}

.container-4 {
    background-color: #202020;
    #text {
        text-align: center;
        font-family: $font;
        padding-top: 20px;
        h1 {
            color: orange;
            font-size: 55px;
        }
        h3 {
            color: white;
            font-size: 15px;
        }
    }

    #cards {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        #card {
            border-radius: 8px;
            user-select: none;
            background-color: #242424;
            color: white;
            font-family: $font;
            width: 350px;
            margin-top: 25px;
            border-bottom: 5px solid rgb(173, 127, 0);
            h1 {
                background-color: rgb(164, 103, 28);
                border-radius: 8px 8px 0px 0px;
                text-align: center;
                padding: 20px 55px 20px 55px;
            }

            ul {
                // padding-left: 25px;
                padding: 1rem;
            }

            .list ul li {
                list-style: none;
                padding: 15px 0px 15px 0px;
            }

            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                img {
                    margin-right: 8px;
                }
            }
            .link {
                background-color: orange;
                padding: 15px 5px 15px 5px;
                text-align: center;
                width: 150px;
                border-radius: 50px;
                margin-bottom: 15px;
                margin-left: 95px;
                a {
                    text-decoration: none;
                    color: white;
                    text-align: center;
                }
            }
        }
    }
}

#infos {
    background-color: #110645;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    #client {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;
        font-family: $font;
        color: white;

        #info-client {
            padding: 5px;
            margin: 5px;
        }
    }
}

#area-cobertura {
    height: 100vh;
    background-color: #191919;
    background-image: url(../IMG/fundo.png);
    font-family: $font;
    user-select: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #map {
        margin: 1rem;
    }

    #cobertura-header {
        h1 {
            color: orange;
            padding: 10px;
            text-align: center;
        }

        p {
            color: rgb(0, 119, 255);
            padding: 5px;
            text-align: center;
        }
    }

    #aviso {
        color: rgb(157, 84, 84);
        width: 350px;
        position: relative;
        top: -15px;
        text-align: center;
        left: 495px;
    }
}

.contato {
    color: white;
    font-family: $font;
    background-image: url(../IMG/ANTENDENTE.png);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    #campos {
        margin-left: 750px;
    }
    h1 {
        text-align: center;
        padding: 20px;
    }
    form {
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0b2551;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    label {
      display: block;
      margin-bottom: 10px;
    }

    input {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      outline: none;
      border: 0px;
      border: none;
      background-color: #526e9a;
      color: #ffffff;
    }

    ::placeholder {
        color: rgb(255, 255, 255);
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      border-radius: 5px;
      border: none;
      background-color: #fff;
      color: #2D3748;
      font-weight: bold;
      cursor: pointer;
    }

    .img {
        margin-top: 55px;
        margin-left: 55px;
    }
}

footer {
    margin: auto;
    height: 100vh;
    user-select: none;
    color: white;
    font-family: $font;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../IMG/rm373batch2-04.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    a {
        text-align: none;
        color: white;
        text-decoration: none;
    }
    article {
        margin:3.5rem;
        ul {
            list-style: none;
            li {
                padding-top: 10px;
                padding-bottom: 5px;
            }
            a {
                color: white;
                text-decoration: none;
                &:hover {
                    color: orange;
                }
            }
        }

        img {
            padding-top: 1rem;
            margin-right: 5px;
            filter:grayscale(2);
            transition: 0.5s ease-in-out;
            &:hover {
                filter:grayscale(0);
            }
        }

        p {
            width: 350px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: auto;
            p {
                margin-top: 15px;
                margin-left: 5px;
            }

            img {
                filter: invert(1);
            }
        }
    }
}

@media screen and (max-width: 1920px) {
    #pri {
        position: relative;
        top: -555px;
        filter: drop-shadow(1px 2px 15px black);
    }

    #plano {
        position: relative;
        top: -425px;
    }

    .container {
        #empresa {
            #imagem {
                padding-top: 7rem;
            }

            #texto {
                h1 {
                    padding-bottom: 1.5rem;
                }
                width: 800px;
                padding-top: 7rem;
                font-size: 20px;
                line-height: 35px;
            }
        }
    }

    .container-2 {
        #servicos {
            padding-top: 9.5rem;
        }

        .sub-servicos {
            padding-top: 4rem;
            .mais {
                width: 955px;
                h2 {
                    font-size: 25px;
                    padding-bottom: 1.2rem;
                }
            }
        }
    }

    .container-3 {
        #text {
            padding-top: 4.5rem;
        }

        #cards {
            padding-top: 4.5rem;
        }
    }

    #area-cobertura {
        #cobertura-header {
            padding-top: 5rem;
        }
        height: 100vh;
        background-size: cover;
        background-position: center;
    }

    .contato {
        #campos {
            position: relative;
            left: 155px;
            top: 55px;
            form {
                height: 700px;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        article {
            width: 450px;
        }
    }
}

@media screen and (max-width: 414px) {
    .header {
        .menu {
            display: none;
        }
    }

    #pri {
        position: relative;
        top: -555px;
        left: -2px;
        h1 {
            font-size: 35px;
            padding-bottom: 15px;
        }
        h3 {
            font-size: 25px;
            width: 400px;
            margin: auto;
        }
    }

    #plano {
        position: relative;
        left: 1px;
        top: -305px;
    }

    .container {
        #empresa {
            #imagem {
                display: none;
            }
    
            #texto {
                height: auto;
                padding: 0;
                margin: auto;
                text-align: center;
                width: 350px;
                h1 {
                    padding: 0;
                    margin: 0 0 1rem 0;
                }
                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .container-2 {
        height: auto;
        #servicos {
            margin: auto;
            width: 350px;
            text-align: center;
            padding: 15px 0 0 0;
            h1, h3 {
                margin: 0;
                padding: 0;
            }

            h3 {
                width: 350px;
            }
        }

        .sub-servicos {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 1rem;

            .mais {
                padding-top: 0;
                margin: 1rem;
                h2 {
                    font-size: 15px;
                    padding-bottom: 5px;
                }
                h3 {
                    font-size: 14.5px;
                }
            }
            .mais:nth-child(3) {
                margin-bottom: 2rem;
            }
        }
    }

    .container-3 {
        height: auto;
        #text {
            margin: auto;
            padding: 0;
            width:400px;
            text-align: center;
            h1 {
                padding-bottom: 1rem;
            }
            h3 {
                width: 350px;
                margin: auto;
                text-align: center;
            }
        }

        #cards {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 0;
            margin-top: 0;
            #card:nth-child(3) {
                margin-bottom: 1.5rem;
            }
        }
    }

    .container-4 {
        #cards {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    #infos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        #client {
            position: relative;
            left: 85px;
            max-width: 250px;
        }
    }

    #area-cobertura {
        margin: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        #map {
            margin: auto;
            display: flex;
            justify-content: center;
            width: 350px;
        }
    }

    .contato {
        height: auto;
        width: 414px;
        margin: auto;
        #campos {
            h1 {
                text-align: center;
                position: relative;
                left: 25px;
            }
            width: 355px;
            margin: auto;
            position:relative;
            left: -22px;
            top: -35px;
            padding-top: 100px;
            form {
                width: 413px;
                margin: auto;
                .img {
                    margin-top: 125px;
                    margin-left: 55px;
                }
            }
        }
    }

    footer {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    header {
        height: 100vh;
    }
    #pri {
        position: absolute;
        top: 250px;
        left: -6px;
        margin: auto;
        text-align: center;

        h1 {
            position: relative;
            left: 9px;
        }

        h3 {
            font-size: 15px;
        }
    }

    #plano {
        position: relative;
        top: -205px;
        left: 3px;
    }

    #cobertura-header {
        position: relative;
        left: -2px;
        top: 50px;
    }

    #area-cobertura {
        #cobertura-header {
            margin: 0;
            padding: 0;
        }
        details {
            margin: 0;
            padding: 5px;
            position: relative;
            left: 4.5px;
            top: 95px;
            summary {
                padding-top: 5px;
                padding-left: 5px;
            }
        }

        #aviso {
            position: relative;
            left: 4.5px;
            top: 205px;
        }
    }

    .contato {
        height: 100vh;
        #campos {
            width: 335px;
            position: relative;
            left: -32px;
            form {
                width: 375px;
                height: 555px;
                img {
                    margin-top: -35px;
                    margin-left: -10px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    #pri {
        position: absolute;
        left: 5px;
        max-width: 350px;

        h3 {
            max-width: 315px;
        }
    }

    #plano {
        position: relative;
        top: -195px;
        left: -2px;
    }

    .container {
        #empresa {
            #texto {
                margin-top: -15px;
            }
        }
    }

    .container-3 {
        height: auto;
        margin: auto;
        #text {
            margin: auto;
            position: relative;
            left: -2px;
            padding-top: 1rem;
            max-width: 350px;
            h1 {
                font-size: 40px;
            }
        }

        #cards {
            // position: absolute;
            // left:13px;

            #card {
                max-width: 350px;
            }
        }
    }

    .container-4 {
        height: auto;
        #text {
            h1 {
                font-size: 50px;
            }
        }
    }

    #infos {
        #client {
            position: relative;
            left: 65px;
        }
    }

    #area-cobertura {
        #cobertura-header {
            margin-top: -25px;
            padding: 0;
            h1 {
                padding: 0;
            }
            p {
                padding: 0;
            }
        }
        #map {
            position: relative;
            left: -10.5px;
            width: 365px;
            padding-bottom: 2rem;
        }
    }

    .contato {
        height: 750px;

        #campos {
            margin-top: -85px;
            width: 335px;
            position: relative;
            left: -33.5px;
            h1 {
                margin-top: -35px;
                position: relative;
                left: 15.5px;
            }
            form {
                width: 365px;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    body {
        overflow: hidden;
    }
    #pri {
        position: relative;
        top: -355px;
        left: 2px;
        width: 300px;
        margin: auto;
        h1 {
            font-size:15px;
            padding-bottom: 5px;
            text-align: center;
            position: relative;
            left: -3px;
        }

        h3 {
            font-size: 15px;
            max-width: 300px;
            margin: auto;
            text-align: center;
        }
    }

    #plano {
        position: relative;
        top: -155px;
        width: 200px;
        font-size: 15px;
    }

    #emp {
        #empresa {
            #imagem {
                display: none;
            }
            #texto {
                max-width: 300px;
                font-size: 15px;
                margin-top: -125px;
            }
        }
    }

    .container-2 {
        height: 935px;
        #servicos {
            max-width: 300px;
            h1 {
                font-size: 35px;
                padding-bottom: 15px;
            }

            h3 {
                font-size: 15px;
                width: 300px;
            }
        }

        .mais {
            h3 {
                max-width: 290px;
                margin: auto;
            }
        }
    }

    .container-3 {
        #text {
            position: relative;
            left: -42px;
            h1 {
                font-size: 25px;
            }
            h3 {
                max-width: 300px;
                font-size: 15px;
            }
        }

        #cards {
            max-width: 300px;
            #card {
                width: 295px;
                #link {
                    margin: 5px 5px 15px 65px;
                }
            }
        }
    }

    .container-4 {
        #text {
            max-width: 300px;
            margin: auto;
            h1 {
                font-size: 25px;
            }
            h3 {
                font-size: 15px;
            }
        }

        #cards {
            max-width: 290px;
            margin: auto;
            #card {
                max-width: 290px;

                #link {
                    margin: 5px 5px 15px 65px
                }
            }
        }
    }

    #infos {
        #client {
            position: relative;
            left: 33px;
        }
    }

    #area-cobertura {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        #cobertura-header {
            padding: 0;
            margin: 0;
            max-width: 315px;
            h1 {
                font-size: 25px;
            }

            p {
                padding-bottom: 15px;
            }
        }
        #map {
            max-width: 300px;
            position: relative;
            top: 55px;
            left: -5.5px;
        }
    }

    .contato {
        height: 800px;
        #campos {
            padding-top: 255px;
            h1 {
                font-size: 25px;
            }
            form {
                max-width: 300px;
                height: 455px;
                .img {
                    position: relative;
                    left: -29px;
                    top: -25px;
                }
            }
        }
    }
}